# Joining the old concepts with new concepts

In [4]:
import pandas as pd

# Abrindo o arquivos
df_novo = pd.read_csv("C:\\Users\\JVoigt\\OneDrive - Universität für Weiterbildung Krems\\Dokumente\\Python Scripts\\Champions_Workshop\\concepts_last.csv",sep = ';')
df_velho = pd.read_excel("C:\\Users\\JVoigt\\OneDrive - Universität für Weiterbildung Krems\\Dokumente\\Python Scripts\\Champions_Workshop\\concepts_normalization.xlsx",
                         sheet_name = 'coding')

# print('df velho: \n', df_velho.head(1), '\n df novo: \n', df_novo.head(1))
# Key: statement_id

In [41]:
velhos = df_velho.statement_id.to_list()
novos = df_novo.statement_id.to_list()
novos_filtrados = [x for x in novos if x not in velhos]  # df

#len(novos_filtrados)   # parece que deu certo
df_filtrado = df_novo[df_novo['statement_id'].isin(novos_filtrados)]

df_final = pd.concat([df_velho,df_filtrado],ignore_index=True)

240
 239

In [43]:
df_final.tail()

,statement_id,time,person,organization,concept,agreement,concept_2,agreement_2,concept_3,agreement_3,...,start_position,stop_position,text,coder,document_id,document_title,document_author,document_source,document_section,document_type
235,361,2023-04-21 15:41:55,Martina Diesner-Wais,övp,Schadholz sollte zur Erzeugung erneuerbarer En...,1,NaN,NaN,NaN,NaN,...,1055,1389,"Mein Kollege hat es schon angesprochen, gerade...",4,1348,2023_202NRSITZ_Martina_Diesner-Wais_ÖVP_534.txt,NaN,NaN,NaN,NaN
236,362,2023-04-21 15:41:55,NaN,NaN,Biomasse ist für ländliche Regionen wichtiger ...,1,NaN,NaN,NaN,NaN,...,3127,3706,"Für mich nicht nachvollziehbar ist, dass man i...",4,1349,2023_205NRSITZ_Josef_Hechenberger_ÖVP_235.txt,NaN,NaN,NaN,NaN
237,359,2023-04-21 15:41:55,Lukas Hammer,Grüne,Transformation hin zu Dekarbonisierung der Ind...,1,NaN,NaN,NaN,NaN,...,829,1377,"Wir haben bis 2030 2,975 Milliarden Euro dafür...",4,1350,2023_205NRSITZ_Lukas_Hammer_GRÜNE_234.txt,NaN,NaN,NaN,NaN
238,360,2023-04-21 15:41:55,Lukas Hammer,Grüne,klimaschutzinvestitionen sollten auch als wirt...,1,NaN,NaN,NaN,NaN,...,1403,1959,Es sind nicht nur Investitionen in den Klimasc...,4,1350,2023_205NRSITZ_Lukas_Hammer_GRÜNE_234.txt,NaN,NaN,NaN,NaN
239,363,2023-04-21 15:41:55,Gerald Loacker,NEOS,Beschäftigte aus Drittstaaten müssen nicht Mat...,1,NaN,NaN,NaN,NaN,...,1759,2321,Wir haben in Österreich beispielsweise in der ...,4,1351,2023_207NRSITZ_Gerald_Loacker_NEOS_79.txt,NaN,NaN,NaN,NaN

In [48]:
# Second part: cleaning the data

df_final_clean = df_final

#1. Removing empty concepts:
df_final_clean = df_final_clean[df_final_clean['concept'].notnull()]   #2 removed

#2. Verify where person and or organization is empty and manually fix it:

# df_temp = df_final_clean[df_final_clean['person'].isnull() | df_final_clean['organization'].isnull()]
# df_temp

# 177: Georg Strasser övp
# 362 :Josef Hechenberger övp

df_final_clean.loc[df_final_clean['statement_id'] == 177, 'person'] = 'Georg Strasser'
df_final_clean.loc[df_final_clean['statement_id'] == 177, 'organization'] = 'övp'

df_final_clean.loc[df_final_clean['statement_id'] == 362, 'person'] = 'Josef Hechenberger'
df_final_clean.loc[df_final_clean['statement_id'] == 362, 'organization'] = 'övp'

#df_final_clean.query('statement_id == 177') # OK

#3 . Verify if Agreement is empty:
# df_temp = df_final_clean[df_final_clean['agreement'].isnull()] # Empty

Empty DataFrame
Columns: [statement_id, time, person, organization, concept, agreement, concept_2, agreement_2, concept_3, agreement_3, concept_4, agreement_4, topic/  law, topic/ law2, start_position, stop_position, text, coder, document_id, document_title, document_author, document_source, document_section, document_type]
Index: []

[0 rows x 24 columns]

In [49]:
df_final_clean.to_excel('df_final_clean.xlsx', index=False)